@import "../../colors.scss";

@media (orientation: portrait) and (max-width: 600px) {
    #homeContainer {
        padding-top: 13vh !important;
        #meRow{
            #meCol {
                p {
                    width: 90% !important;
                    padding-top: 5% !important;
                }
            }
        }
    }
}
@media (orientation: landscape) and (max-height: 400px) {
    #homeContainer {
        padding-top: 12vh !important;
    }
}

#homeContainer{
    // height: 100vh;
    width: 100%;
    color: $primaryColor;
    position: relative;
    padding-top: 17vh;
    #meRow{
        height: 100%;
        #meCol {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            img{
                margin: 3%;
                height: 300px;
                width: 300px;
                border-radius: 50%;
            }
            p {
                font-size: 20px;
                text-align: center;
                width: 60%;
                span {
                    color: $secondaryColor;
                }
            }
        }
    } 
    #socialMediaRow {
        #socialMediaCol {
            margin: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            svg {
                height: 35px !important;
                width: 35px !important;
                margin: 5px;
                &:hover {
                    cursor: pointer;
                    color: $secondaryColor !important;
                }
            }
        } 
    }
    #introRow {
        margin-top: 5%;
        #introCol {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: 3s;
            overflow: hidden;
            flex: none;
            h1 {
                margin: 5%;
                color: $secondaryColor;
            }
            p {
                text-align: center;
                width: 75vw;
                font-size: 20px;
            }
        }
    }
}

#arrowDown {
    
    position: absolute;
    bottom: 0;
    margin-bottom: 1vh;
    height: 60px;
    width: 100%;
    color: $primaryColor;
    -webkit-animation: colorChange 2s infinite;
    animation: 2s infinite colorChange;
    transition: 0.5s;
}

@keyframes colorChange {
    0% {
    color: $secondaryColor;
    }
    
    100% {
    color: $primaryColor;
    }
}
@-webkit-keyframes colorChange {
    0% {
    color: $secondaryColor;
    }
    
    100% {
    color: $primaryColor;
    }
}